body {
  background-color: #222981;
}

.button-class {
    background-color: #f4511e;
    border-color: black;
    color: white;
    padding: 16px 32px;
    width: 180px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
}
.button-class:hover {opacity: 0.6}

.pokemon-list {
  background-color: #222981;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}

